* {
    margin: 0;
    padding: 0;
    text-align: center;
}

form.former {
    background: transparent;
    font-family: sans-serif;
    padding-top: 10%;
}

.input {
    padding: 16px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid black;
    font-family: sans-serif;
}

/* This is the submit button code */

.special-input {
    background: transparent;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
}

.special-input:hover {
    background-color: #00abf0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    animation-name: example;
    animation-duration: 3s;
}

body {
    background-color: #081b29;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('FONTS/Roboto-Black.ttf');
}

